
@using Partial_Views_Exercise.Models;
@{
    string type = (string)ViewData["type"];
}


<title>@type</title>
<table>
    <tr>
        <td>@Html.Partial("_UserInfo")</td>
        <td>@Html.Partial("_ProfilePic")</td>
    </tr>
    <tr>
        @{

            if (type == "transact")
            {
                @:<td colspan="2">
                    @Html.Partial("_UserTransact")
                @:</td>
            }
            else if (type == "complain")
            {
                @:<td colspan="2">
                    @Html.Partial("_UserComplain")
                @:</td>
            }
        }

    </tr>
</table>

<style>
    th, td {
        padding: 3px;
    }
</style>
